<script defer src="/javascripts/toEliminate.js"></script>


  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Contacto eliminado</label>
  </div>





<label for="" id="labelId">{{id}}</label>