<script defer src="/javascripts/toUpdateEmail.js"></script>

<form id="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Número correo electrónico</label>
    <input type="text" class="form-control" id="email">
  </div>

  <button type="submit" id="btnToUpdateEmail" class="btn btn-primary">Actualizar correo</button>
</form>

<label for="" id="labelId">{{id}}</label>