<script defer src="/javascripts/toUpdateNumber.js"></script>

<form id="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Número nuevo</label>
    <input type="text" class="form-control" id="number">
  </div>

  <button type="submit" id="btnToUpdateNumber" class="btn btn-primary">Actualizar número</button>
</form>

<label for="" id="labelId">{{id}}</label>