<script defer src="/javascripts/toUpdate.js"></script>

<form id="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="name">
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Teléfono</label>
    <input type="text" class="form-control" id="number" >
  </div>

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Correo electrónico</label>
    <input type="text" class="form-control" id="email" >
  </div>

  
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Fecha de nacimiento (aaaa-mm-dd)</label>
    <input type="text" class="form-control" id="birthday" >
  </div>

  <button type="submit" id="btnToUpdate" class="btn btn-primary">Actualizar contacto</button>
</form>

<label for="" id="labelId">{{id}}</label>