<script defer src="/javascripts/toUpdateBirthday.js"></script>

<form id="form">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Fecha de nacimiento nueva</label>
    <input type="text" class="form-control" id="birthday">
  </div>

  <button type="submit" id="btnToUpdateBirthday" class="btn btn-primary">Actualizar fecha</button>
</form>

<label for="" id="labelId">{{id}}</label>